{% extends 'base.html' %}
{% load static %}
{% block page_content %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">
  <div class="container">
    <h2>Firma la petizione: {{ petition.title }}</h2>
    <p>{{ petition.description }}</p>

<form method="post" novalidate>
  {% csrf_token %}
  <label for="id_first_name">Nome:</label>
  {{ form.first_name }}
  <label for="id_last_name">Cognome:</label>
  {{ form.last_name }}
  <label for="id_email">Email:</label>
  {{ form.email }}
  
  <button type="submit" class="button primary">Invia Firma</button>
</form>

  </div>
</main>
{% endblock %}
