{% extends 'base.html' %}
{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/other.css' %}">
{% endblock %}

{% block global_search %}{% endblock %}
{% block page_content %}{% endblock %}

{% block content %}
  <div class="privacy-page privacy-padding">
    <div class="privacy-title">Privacy Policy</div>

    <p class="privacy-text">La tua privacy è importante per noi. Questa informativa spiega come raccogliamo, usiamo e proteggiamo i tuoi dati personali.</p>

    <div class="privacy-section">Informazioni raccolte</div>
    <p class="privacy-text">Descrivi quali dati raccogli (es. nome, email, IP, cookies ecc.)</p>

    <div class="privacy-section">Uso dei dati</div>
    <p class="privacy-text">Spiega come utilizzi i dati (es. per migliorare il servizio, comunicazioni, analisi ecc.)</p>

    <div class="privacy-section">Condivisione dei dati</div>
    <p class="privacy-text">Specificare se e con chi i dati vengono condivisi.</p>

    <div class="privacy-section">Diritti degli utenti</div>
    <p class="privacy-text">Spiega i diritti degli utenti riguardo i loro dati personali (accesso, modifica, cancellazione, ecc.)</p>

    <div class="privacy-section">Sicurezza</div>
    <p class="privacy-text">Descrivi come proteggi i dati degli utenti.</p>

    <div class="privacy-section">Contatti</div>
    <p class="privacy-text">Per richieste relative alla privacy, contattaci a: <a href="mailto:privacy@nerosinsurge13.it">privacy@nerosinsurge13.it</a></p>
  </div>
{% endblock %}
